---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";

import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { Formatter } from "../../utils/formatDate";

export const getStaticPaths = ( async() => {

  const allPosts = await getCollection('post');
  return allPosts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));

}) satisfies GetStaticPaths;

const post = Astro.props.post;
const { Content, headings } = await post.render();
const author = await getEntry('author', post.data.author.id);

---

<BlogLayout title={post.data.title}>

  <div class="flex flex-row mt-2 text-md text-gray-400 mb-0">
    <Image src={author.data.avatar} alt={author.data.name} width={50} height={50} class="rounded-full" />

    <div class="flex flex-col ml-5">
      <a href=`/blog/${author.id}`>{author.data.name}</a>
      <span class="text-xs text-gray-200">
        {Formatter.formatDate(post.data.date)}
      </span>
    </div>
  </div>

  <Image
    src={post.data.image}
    alt={post.data.title}
    width={600}
    height={220}
    quality={"high"}
    class="object-cover w-full h-[250px] rounded-md my-5"
  />

  <h3>Tabla de Contenidos</h3>
  <ol>
    {
      headings.map (({text, slug}, index) => (
        <li>
          <a href={`#${slug}`}> {index + 1} - {text}</a>
        </li>
      ))
    }
  </ol>
  
  <Content /> 

  <div class="my-10">
    <a href="#btn-back">Ir arriba</a>
  </div>

</BlogLayout>